---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <!-- Раздел "Обо мне" -->
  <section id="about">
    <h2>Обо мне</h2>
    <p>
      Технический менеджер и ведущий разработчик с семнадцатью годами опыта в
      веб-разработке. Обожаю решать сложные задачи, собирать команды, налаживать
      процессы и постоянно искать пути улучшения. Убежден, что искусственный
      интеллект сделает мир и сферу разработки лучше. Активно внедряю новые
      технологии как в профессиональной деятельности, так и в повседневной
      жизни. Горжусь тем, что стоял у истоков Aviasales и за 15 лет прошел путь
      от джуна до руководителя технологий в компании, которая выросла с трех
      до более чем тысячи сотрудников.
    </p>
  </section>

  <!-- Раздел "Проекты" -->
  <section id="projects">
    <h2>Проекты</h2>
    <ul>
      <li>
        <strong><a href="https://aviasales.ru" target="_blank">Aviasaeles</a></strong> – разрабатывал первые версии контентного и поискового движков. Играл одну из ключевых ролей на ранней стадии развития компании.
      </li>
      <li>
        <strong><a href="https://travelpayouts.com" target="_blank">Travelpayouts</a></strong></strong> – с момента образования направления сначала неформально, а затем формально отвечал за технологии и delivery-процесс юнита.
      </li>
    </ul>
    <p class="projects-more"><a href="/ru/cv">подробнее</a></p>
  </section>

  <!-- Раздел "Контакты" -->
  <section id="contacts">
    <h2>Контакты</h2>
    <p>
      Буду рад профессиональному общению и новым проектам. Связаться со мной
      можно по <a href="mailto:pavel@gorlov.me">email</a> или в telegram <a href="https://t.me/psgorlov" target="_blank">@psgorlov</a>.
    </p>
  </section>
</Layout>
