---
import i18next, { t } from "i18next";
import '../assets/styles/global.css';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
---

<!DOCTYPE html>
<html lang={i18next.language}>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{t('name')} – {t('position')}</title>
  <script src="/src/assets/scripts/main.js" type="module" defer></script>
</head>
<body>

  <!-- Шапка сайта с именем и позицией -->
  <header>
    <h1>{t('name')}</h1>
    <h2>{t('position')}</h2>
  </header>

  <!-- Навигационное меню (якоря по секциям) -->
  <nav>
    <a href="#about">{t('menu.about')}</a>
    <a href="#projects">{t('menu.projects')}</a>
    <a href="#contacts">{t('menu.contacts')}</a>
    <ThemeSwitcher />
  </nav>
  <slot />

  <!-- Футер с копирайтом -->
  <footer>
    {t('footer.copyright')}
  </footer>

</body>
</html>